<h1 style="text-align: center;">📌 Angular Drag & Drop Board</h1>

<div class="board">
  <!-- Todo Column -->
  <div
    class="column"
    cdkDropList
    [cdkDropListData]="todo"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>Todo</h3>
    <div *ngFor="let task of todo" cdkDrag>
      {{ task }}
    </div>
  </div>

  <!-- In Progress Column -->
  <div
    class="column"
    cdkDropList
    [cdkDropListData]="inProgress"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>In Progress</h3>
    <div *ngFor="let task of inProgress" cdkDrag>
      {{ task }}
    </div>
  </div>

  <!-- Done Column -->
  <div
    class="column"
    cdkDropList
    [cdkDropListData]="done"
    (cdkDropListDropped)="drop($event)"
  >
    <h3>Done</h3>
    <div *ngFor="let task of done" cdkDrag>
      {{ task }}
    </div>
  </div>
</div>
